@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap);

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}




body {
	background-color: #030F19; /*#080F16;*/
	margin: 0;
	font-family: 'Manrope', monospace; /*Verdana,sans-serif;*/	
}

h1 {
	
	color: #b4eb34;/*#FF3230;*/
	font-size: 2.85rem;
	text-align: 100%;
	font-weight: lighter;
}




h2 {
	color: #1b9e65;/*rgba(255, 51, 48, 0.835);*/
	font-size: 1.75rem;
	text-align: 100%;
	font-weight: lighter;

}

h3 {
	color: #0b663e;/*rgba(255, 51, 48, 0.835);*/
	font-size: 27px;
	text-align: 100%;
	font-weight: lighter;

}


p {

	color: #8e939c; 
	font-size: 22px;
}

hr {
	border-color: teal;
	margin-left: auto;
	width: 55%;
}


.logo {
	
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-left: 3%
	
}

.content {

	padding-left: 25%;
	padding-right: 25%;
	padding-top: 10px;
	;

}

img {
	width: 130px;
	height: 130px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 10px;
}

ul {
	
	color: #8e939c;
	font-size: 20px;
}

a {
	color: #00C590;
	font-size: 20px;
	font-weight: 100;
	text-decoration: none;
}

b {
	color: #535252;
}

strong {
	color: #535252;
}

.back {
	border: 1px solid #00C590;
	color: #00C590;
	background: none;
	padding: 10px 20px;
	margin-left:40% 340%00px;
	font-size: 20px;
	border-radius: 20px:

  }

.next {
	border: 1px solid #00C590;
	color: #00C590;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	margin-left: 40px;
	float: right;
}

.btns{
	padding:0px;
    margin:auto;
    width:100%;
    border:none;
    
}
/*
.color_btn {
	color: #23de90;
}*/

.color_btn:hover {
	color: #137d51;
	transition: 1s all ease;

}

.back:hover {
	color: #137d51;
	border: 1px solid #13754c;
	transition: 0.5s all ease;

}

.next:hover{
	color: #137d51;
	border: 1px solid #13754c;
	transition: 0.5s all ease;

}


/*
.next {
	border: 1px solid #00C590;
	color: #00C590;
	background: none;
	
	 margin-right: initial;
}

/*
.next {
	border: 1px solid #00C590;
	color: #00C590;
	background: none;
	padding: 10px 20px;
	margin-right: auto;
	font-size: 20px;
}
*/

/*footer*/

/*
.container {
	
	padding: 2em;
	max-width: 1200px;
	margin-top: 100px;
	margin-left: 380px;
	text-align: auto;
}
*/

.container {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin:auto;
	width: 30%;
	height: 20%;
	border: 1px red;
	text-align: center;
}






/* questionare pop up alert for the last page*/
.alert {
	margin-left: 25%;
	background-color: transparent;
	color: #23de90;
	border: 1px solid none;
	transition: 0.6s;
	width: 15%;
}

.alert:hover {
	color: #137d51;
}

.info {
	background: none;
	border: none;
	font-size: 22px
	color: #23de90;
	transition: 1s all ease;
}

.info:hover {
	color:  #137d51;
}

.closebtn {
	margin-left: 15px;
    color:  grey;
	font-weight: bold;
	float: right;
    font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 1s all ease;
	margin-left: 20%;
}

.closebtn:hover {
	color: red;
}



